body {
    width: 1920px;
    background-color: #f8f9f6;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

header {
    color: #404040;
    background-color: #ffffff;
    width: 1920px;
    height: 100px;
    -webkit-box-shadow: 0 0 21px rgba(150, 150, 150, 0.35);
    box-shadow: 0 0 21px rgba(150, 150, 150, 0.35);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 1170px;
    margin: 0 auto;
}

.logo {
    margin-top: 11px;
}

.user {
    margin-top: 22px;
    margin-right: 15px;
}

.user b {
    width: 147px;
    height: 14px;
    color: #404040;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 2px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    background-color: #ff7800;
    padding: 8px 13px;
    margin-left: 11px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.user .login {
    position: relative;
    color: #404040;
    background-color: #f3f3f3;
    padding-left: 35px;
}

.user .login::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 14px;
    height: 12px;
    background: transparent url('../img/login.png') no-repeat;
}

.user .download {
    position: relative;
    padding-left: 45px;
}

.user .download:hover {
    background-color: #ff8a00;
}

.user .download::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 16px;
    height: 14px;
    background: transparent url('../img/download.png') no-repeat;
}

.header_menu,
.header_submenu,
.feedback,
.lead_list,
.feature_item_center ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.header_submenu {
    display: none;
    position: absolute;
    top: 13px;


}

.header_bottom a {
    color: #404040;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 41.89px;
}

.header_menu li,
.header_submenu li,
.feedback li {
    color: #404040;
    display: inline;

}

.header_menu_item {
    margin-right: 30px;
}

.dropdown {
    position: relative;
}

.dropdown a::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 100px;
    width: 9px;
    height: 6px;
    background: url(../img/Polygon.svg);
}

.banner {
    margin: 0;
    padding: 0;
    padding-top: 45px;
    width: 1920px;
    height: 600px;
    background-image: url(../img/banner.jpg);

}

.banner_title {
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.3;
    letter-spacing: normal;
    text-align: left;
    color: #404040;
    margin-bottom: 33px;
}



.lead_list {
    position: relative;
    margin-bottom: 50px;
}

.lead_list li {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;

    text-align: left;
    color: #404040;
    margin-left: 44px;
}

.lead_list li::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 24px;
    background: url(../img/);

}

.lead_btn {
    padding: 22px 114px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 31px;
    -webkit-box-shadow: 0px 3px 13px 0 rgba(243, 112, 15, 0.47);
    box-shadow: 0px 3px 13px 0 rgba(243, 112, 15, 0.47);
}

.lead {}

.video {
    width: 548px;
    height: 312px;

    background: transparent url(../img/nout.jpg) no-repeat;
}

.feature_header {
    padding: 0;

    min-height: 91px;

}

.feature_header h2 {
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
}

.feature_header p {
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    line-height: 56px;
}

.feature_item {
    width: 310px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 2.8px 7px 0 rgba(0, 0, 0, 0.16);
    box-shadow: -1px 2.8px 7px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba (255, 255, 255, 0.6);

}

.left {
    background: url(../img/Layer_48.png) no-repeat center center;
}

.right {
    background: url(../img/Layer_49.png) no-repeat center center;
}

.feature_item p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 223px;

}

.feature_item_center {
    width: 486px;
    height: 244px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 2.8px 21px 0 rgba(0, 0, 0, 0.16);
    box-shadow: -1px 2.8px 21px 0 rgba(0, 0, 0, 0.16);
    background: transparent url(../img/Layer_39.png) no-repeat;
    background-position: center 20px;
    background-color: #ffffff;
    padding-top: 200px;
}

.feature_item_title {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.feature_item_center span {
    display: block;
    margin: 10px auto;
    width: 96px;
    height: 4px;
    background-color: #6a6f6b;
}

.feature_item_center ul {
    position: relative;
    padding-left: 60px;
    padding-right: 30px;
}

.feature_item_center li {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: lighter;
    text-align: left;
    color: #5f5f5f;
}

.feature_item_center li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 9px;
    background-color: #85c871;
    top: 10px;
    left: 36px;
}

.offer {
    width: 1175px;
    margin: 0 auto;
}

.offer h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    color: #404040;
}

.offer_item {
    border-radius: 10px;
    min-height: 298px;
    background-color: #fff;
    padding-top: 61px;
    margin-bottom: 20px;

}

.offer_item b {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.46;
    text-align: left;
    color: #404040;
    margin-bottom: 25px;
}

.offer_item p {
    margin: 1px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    text-align: left;
    color: #5f5f5f;
}

.one {
    background: transparent url(../img/one.png) no-repeat;
    background-position: 725px center;
    background-color: #fff;
    padding-right: 564px;
    padding-left: 78px;
}

.two {
    background: transparent url(../img/two.png) no-repeat;
    background-position: 78px center;
    background-color: #fff;
    padding-right: 78px;
    padding-left: 564px;
}

.three {
    background: transparent url(../img/three.png) no-repeat;
    background-position: 622px center;
    background-color: #fff;
    padding-right: 564px;
    padding-left: 78px;
}
