body {
    width: 1922px;
    background-color: #f8f9f6;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

header {
    color: #404040;
    background-color: #ffffff;
    width: 1920px;
    -webkit-box-shadow: 0 0 21px rgba(150, 150, 150, 0.35);
    box-shadow: 0 0 21px rgba(150, 150, 150, 0.35);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 1170px;
    margin: 0 auto;
    border: 1px dashed black;
}



.logo {
    margin-top: 11px;
}

.user {
    padding-top: 22px;

}

.user b {
    width: 147px;
    height: 14px;
    color: #404040;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 2px;
}

a {
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    background-color: #ff7800;
    padding: 8px 13px;
    margin-left: 11px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.btn:hover {
    background-color: #ff8a00;
}

.user .login {
    position: relative;
    color: #404040;
    background-color: #f3f3f3;
    padding-left: 35px;
}

.user .login::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 14px;
    height: 12px;
    background: transparent url('../img/login.png') no-repeat;
}

.user .download {
    position: relative;
    padding-left: 45px;
}

.user .download:hover {
    background-color: #ff8a00;
}

.user .download::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 16px;
    height: 14px;
    background: transparent url('../img/download.png') no-repeat;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.header_bottom {
    position: relative;
}

.header_bottom a {
    color: #404040;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 41.89px;
}

.header_menu li,
.feedback li {
    color: #404040;
    display: inline-block;

}

.header_menu_item {
    margin-right: 29px;
}

.feedback_menu_item {}

.petition {
    position: relative;
    margin-right: 55px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.petition::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 14px;
    top: 13px;
    left: -28px;
    background: transparent url('../img/petition.png') no-repeat;
}

.support {
    position: relative;
    margin-right: 17px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.support a:hover {
    color: #ff7800;
}

.support::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 18px;
    top: 13px;
    left: -23px;
    background: transparent url('../img/support.png') no-repeat;
}

.find {
    position: relative;
    margin-right: 9px;
    width: 32px;
    height: 27px;
    border-radius: 6px;
    background-color: #f3f3f3;
}

.find a {
    font-size: 0;
}

.find::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 6px;
    right: 8px;
    background: transparent url('../img/find.png') no-repeat;

}

.find:hover {
    width: 143px;
    z-index: 100;
}

.find a:hover {
    font-size: 15px;
    color: #404040;
    font-weight: 400;
    line-height: 16px;
}



.language {
    position: relative;
    width: 49px;
    height: 27px;
    border-radius: 6px;
    background-color: #f3f3f3;
}


.language a {
    font-size: 0;
}

select {
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #404040;
    width: 49px;
    border-radius: 6px;
    background-color: #f3f3f3;
}

.select_styled {}






.dropdown {
    display: inline-block;
    padding-right: 13px;
    background: url('../img/Polygon.svg') no-repeat;
    background-position: 99px 18px;
}

.header_menu_item:hover > a {
    text-shadow: 0.7px 0 0 currentColor;
}

.header_submenu {
    position: absolute;
    display: none;
    padding-left: 372px;
    width: 1922px;
    bottom: -41px;
    left: 1px;
    background-color: #faf6f1;
}

.header_submenu li {
    display: inline-block;
    margin-right: 20px;

}

.header_submenu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}

.dropdown:hover .header_submenu {
    display: block;
}

/*header scrolled*/
.header_scrolled .logo {
    margin: 13px 0px 17px 0;
}

.header_scrolled .header_nav {
    padding: 0;
    margin: 0;
}

.header_scrolled .header_nav {
    color: #404040;
    font-size: 18px;
    font-weight: 400;
    line-height: 41.89px;
}


.header_scrolled .user {
    margin: 12px 0;
    padding: 0;
}

.banner {
    margin: 0;
    padding: 0;
    padding-top: 200px;
    padding-top: 45px;
    width: 1920px;
    height: 546px;
    background: url('../img/banner_back.png') no-repeat;


}

.banner_title {
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.3;
    letter-spacing: normal;
    text-align: left;
    color: #404040;
    margin-bottom: 33px;
}



.lead_list {
    position: relative;
    margin-bottom: 50px;
}

.lead_list li {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;

    text-align: left;
    color: #404040;
    margin-left: 44px;
}

.lead_list li::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 24px;
    top: 11px;
    left: -40px;
    background: transparent url('../img/orange_check.png') no-repeat;

}

.lead_btn {
    padding: 22px 114px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 31px;
    -webkit-box-shadow: 0px 3px 13px 0 rgba(243, 112, 15, 0.47);
    box-shadow: 0px 3px 13px 0 rgba(243, 112, 15, 0.47);
}

.lead {}

.video {
    position: relative;
    width: 548px;
    height: 312px;
    background: transparent url('../img/video-tv.png') no-repeat;
    background-size: cover;
}

.player {
    border: 0;
    padding: 0;
    position: absolute;
    top: 96px;
    left: 225px;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: url('../img/play1.png') no-repeat;
    background-position: center center;
    opacity: 0.7;
}

.player:hover {
    opacity: 1;
}

.feature_header {
    padding: 0;

    min-height: 91px;

}

.feature_header h2 {
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
}

.feature_header p {
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    line-height: 56px;
}

.feature_item {
    width: 310px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 2.8px 7px 0 rgba(0, 0, 0, 0.16);
    box-shadow: -1px 2.8px 7px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba (255, 255, 255, 0.6);

}

.left {
    background: url('../img/Layer_48.png') no-repeat center center;
}

.right {
    background: url('../img/Layer_49.png') no-repeat center center;
}

.feature_item p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 223px;

}

.feature_item_center {
    width: 486px;
    height: 244px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 2.8px 21px 0 rgba(0, 0, 0, 0.16);
    box-shadow: -1px 2.8px 21px 0 rgba(0, 0, 0, 0.16);
    background: transparent url('../img/Layer_39.png') no-repeat;
    background-position: center 20px;
    background-color: #ffffff;
    padding-top: 200px;
}

.feature_item_title {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.feature_item_center span {
    display: block;
    margin: 10px auto;
    width: 96px;
    height: 4px;
    background-color: #6a6f6b;
}

.feature_item_center ul {

    padding-left: 60px;
    padding-right: 30px;
}

.feature_item_center li {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: lighter;
    text-align: left;
    color: #5f5f5f;
}

.feature_item_center li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 9px;
    background-color: #85c871;
    top: 9px;
    left: -16px;
}

.offer {
    width: 1175px;
    margin: 0 auto;
}

.offer h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    color: #404040;
}

.offer_item {
    border-radius: 10px;
    min-height: 264px;
    background-color: #fff;
    padding-top: 61px;
    margin-bottom: 20px;
}

.offer_item b {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.46;
    text-align: left;
    color: #404040;
    margin-bottom: 25px;
}

.offer_item p {
    margin: 1px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    text-align: left;
    color: #5f5f5f;
}

.one {
    background: transparent url('../img/one.png') no-repeat;
    background-position: 725px center;
    background-color: #fff;
    padding-right: 564px;
    padding-left: 78px;
}

.two {
    background: transparent url('../img/two.png') no-repeat;
    background-position: 78px center;
    background-color: #fff;
    padding-right: 78px;
    padding-left: 564px;
}

.three {
    background: transparent url('../img/three.png') no-repeat;
    background-position: 622px center;
    background-color: #fff;
    padding-right: 564px;
    padding-left: 78px;
}

.tariffs {
    margin-bottom: 70px;
}

.tariffs h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    color: #404040;
}

.tariffs p {
    color: #404040;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.tariffs_item {
    width: 478px;
    height: 467px;
    border-radius: 10px;
    color: #404040;
    background-color: #ffffff;
    text-align: center;
    padding: 47px 42px 0px 50px;
}

.tariffs_item:hover {
    -webkit-box-shadow: 1.6px 2.5px 9px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 1.6px 2.5px 9px 0 rgba(0, 0, 0, 0.17);
}

.tariffs_item_top {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #85c871;
    align-items: baseline;
    padding-bottom: 19px;
    margin-bottom: 27px;
}

.tariffs_item_top.gray {
    border-bottom: 4px solid #c1c1c1;
}

.tariffs_item_top h3 {
    display: inline-block;
    margin: 0;
    color: #404040;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;

}

.tariffs_item_top span {
    display: inline-block;

    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.tariffs_item_top b {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
}

.tariffs_item p {
    position: relative;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #404040;
    margin-left: 50px;
    margin-bottom: 10px;
}

.tariffs_item_middle {
    min-height: 106px;
    margin-bottom: 25px;
}

.tariffs_item_middle .left_two {
    line-height: 28px;
}

.tariffs_item_bottom b {
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 20px;
}


.tariffs_item p::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: -50px;
}

.left_one::before {
    background: transparent url('../img/left_one.png') no-repeat;
}

.left_two::before {
    background: transparent url('../img/left_two.png') no-repeat;
}

.right_one::before {
    background: transparent url('../img/right_one.png') no-repeat;
}

.right_two::before {
    background: transparent url('../img/right_two.png') no-repeat;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.single_list {
    display: flex;
    justify-content: center;
}

.tariffs_item ul > li {
    font-size: 15px;
    line-height: 36px;
    font-weight: 700;
    text-align: left;
    color: #000000;
}

.tariffs_item ul > li:nth-child(odd) {
    background-color: #f8f9f6;
}

.tariffs_option {
    width: 1172px;
    height: 83px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 22px;
}

.tariffs_option p {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.82;
    text-align: center;
    color: #404040;
    margin-left: 124px;
}

.tariffs_option p::before {
    position: absolute;
    content: "";
    width: 61px;
    height: 61px;
    border-radius: 61px;
    background-color: #e9e9e9;
    top: -11px;
    left: -86px;
    background: url('../img/%D0%A1%D0%BB%D0%BE%D0%B9_68.png');
}

.tariffs_option .btn {
    padding: 16px 74px;
    margin-right: 42px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25.5px;
    -webkit-box-shadow: 0px 3px 4px 0 rgba(243, 112, 15, 0.63);
    box-shadow: 0px 3px 4px 0 rgba(243, 112, 15, 0.63);
}

.solutions {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;

}

.solutions h2 {
    font-size: 36px;
    line-height: 40px;
}

.accordion {
    padding: 0;
    position: relative;
    width: 1172px;
    height: 389px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 21px 0 rgba(178, 178, 178, 0.46);
    box-shadow: 0 0 21px 0 rgba(178, 178, 178, 0.46);
    background-color: #ffffff;
}

.accordion h3 {
    position: absolute;
    top: 15px;
    left: 416px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #404040;
}

.accordion section {
    display: none;
    position: absolute;
    top: 120px;
    left: 453px;
}

.accordion ul {
    width: 675px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #404040;
}

.accordion li {
    position: relative;
    margin-bottom: 20px;
}

.accordion li::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 17px;
    top: 1px;
    left: -33px;
    background: transparent url('../img/green_check_small.png') no-repeat;
}

.accordion h4 {
    display: block;
    position: relative;
    width: 282px;
    / font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: 30px;
    border-bottom: 1px solid #cbcdcd;
    border-right: 1px solid #cbcdcd;
    padding: 23px 0 22px 80px;
    margin: 0;
}

.accordion a {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    color: #404040;
    vertical-align: middle;
    font-weight: inherit;
}

.accordion h4:hover {
    background-color: #81dd78;
    font-weight: 700;
    width: 290px;
}

.accordion h4:hover::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 17px;
    background: transparent url('../img/arrow-right.png') no-repeat;
    top: 32px;
    right: 14px;
}

.accordion h4:active::after {
    background-color: #81dd78;
    font-weight: 700;
    width: 290px;
}

.buhs::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background: transparent url('../img/buhs.png') no-repeat;
    top: -1px;
    left: -50px;
}

.startup::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background: url('../img/startup.png') no-repeat;
    top: -4px;
    left: -50px;
}

.ishop::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background: url('../img/ishop.png') no-repeat;
    top: -1px;
    left: -47px;
}

.remote::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background: url('../img/remote.png') no-repeat;
    top: -1px;
    left: -50px;
}

.merchant::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background: url('../img/merch.png') no-repeat;
    top: -6px;
    left: -50px;
}



.form {
    padding-top: 1px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;
    background-color: #fff;

}

form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 0.83;
    color: #404040;
    margin-bottom: 52px;
}

input {
    text-align: center;
    width: 362px;
    height: 51px;
    border-radius: 10px;
    border: solid 1px #d0d0d0;
    background-color: #ffffff;
}

.form .btn {
    padding: 22px 70px 22px 70px;
    margin: 40px auto 54px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    height: 62px;
    border-radius: 31px;
    -webkit-box-shadow: 0px 3px 13px 0 rgba(243, 112, 15, 0.47);
    box-shadow: 0px 3px 13px 0 rgba(243, 112, 15, 0.47);
}

.response {
    text-align: center;
    position: relative;
}

/*.response::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -200;
    top: 126px;
    width: 1970px;
    height: 315px;
    background-color: #ffffff;
}*/

.response h2 {
    font-size: 36px;
    line-height: 30px;
}

.response_slider {
    position: relative;
    width: 477px;
    padding: 16px 40px 86px 41px;
    border-radius: 10px;
    -webkit-box-shadow: 1.6px 2.5px 9px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 1.6px 2.5px 9px 0 rgba(0, 0, 0, 0.17);
    background-image: linear-gradient(to top, rgba(215, 215, 215, 0.26) 0%, rgba(255, 255, 255, 0.26) 100%);
}



.response_slider::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 30px;
    top: 35px;
    right: 45px;
    background: transparent url('../img/blockquote.png') no-repeat;
}


.slider_item_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.story {
    display: block;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
}

.response_slider img {
    width: 92px;
    height: 92px;
    display: block;
    margin: 0;
    padding: 0;

}

.response_slider_nav {

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.response_slider_dotes {
    align-self: center;
    margin-right: 200px;
    font-size: 0;

}

.response_slider_dotes span {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #6a6a6a;
    margin-right: 6px;
}

.selected {
    background-color: #6a6a6a;
}

.counter {
    display: inline-block;
    align-self: center;
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.cridentials {
    display: inline-block;
    width: 253px;
    margin-top: 20px;
    margin-left: 15px;
    text-align: left;
}

.cridentials h3 {
    position: relative;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    color: #404040;
}

.name::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: transparent url('../img/play.png') no-repeat;
    right: 30px;
}

.name::after:hover {
    background: transparent url('../img/play_hover.png') no-repeat;
}

.cridentials span {
    font-size: 20px;
    line-height: 30px;
}

.cridentials a {
    font-size: 20px;
    line-height: 30px;
    color: #404040;
    text-decoration: underline;
}

/*точки от слайдера*/
.slick-dots {
    display: inline-block;
    position: absolute;

}

.response_slider .slick-dots li {
    display: inline-block;

}

.slick-dots li button {
    display: block;
    font-size: 0;
    line-height: 0;
    outline: 0;
    padding: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #6a6a6a;
    margin-right: 6px;
}

.slick-dots .slick-active button {
    background-color: #6a6a6a;
}


.lenta {
    width: 500px;
    margin-right: 42px;
    position: relative;
}

.lenta h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.lenta p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.lenta_slider {

    display: flex;
    justify-content: space-between;

}

.lenta_item {
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 13px 19px;
    margin: 9px;
    text-align: left;

}

.lenta_item_title {
    display: inline-block;
    /*    margin-bottom: 16px;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.lenta_slider .lenta_item_content {
    display: inline-block;
    text-align: left;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.lenta .slick-track {
    height: 107px;
}

.prev,
.next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 75%;
    display: block;
    width: 9px;
    height: 14px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent url('../img/slider-arrow.png') no-repeat;
}

.next {
    right: -14px;
    transform-origin: 50% 50% 0;
    transform: rotate(180deg);
}

.prev {
    left: -14px;
}



.family {
    padding: 40px 375px;
    background: #fff;
    border-bottom: 2px solid #f2f3f5;
}



.family a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: #787b7f;
}

.family a:hover {
    text-decoration: underline;
}

footer {
    padding-top: 26px;
    color: #737373;
    background: #fff;
    vertical-align: middle;
}

.address {
    position: relative;
    width: 272px;
    margin-left: 198px;
    margin-top: 26px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #737373;
}

.address b {
    font-size: 24px;
    line-height: 30px;
}

.address::before {
    position: absolute;
    content: "";
    width: 122px;
    height: 76px;
    top: -23px;
    left: -198px;
    background: transparent url('../img/logo_wb.png') no-repeat;
}

.social {
    margin-right: 390px;
}

.social_btn {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    font-size: 0;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    border: 2px solid #c1c6cc;
    margin-right: 12px;

}

.social_btn:hover {
    -webkit-box-shadow: inset 1px 3px 2px 0px rgba(136, 136, 136, 1);
    box-shadow: inset 1px 3px 2px 0px rgba(136, 136, 136, 1);
}

.social_btn_tw {
    background: url('../img/tw.png') no-repeat center center;
}

.social_btn_vk {
    background: url('../img/vk.png') no-repeat center center;
}

.social_btn_fb {
    background: url('../img/fb.png') no-repeat center center;
}

.social_btn_ytb {
    background: url('../img/ytb.png') no-repeat center center;
}

.apple_btn {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    font-size: 0;
    width: 157px;
    height: 52px;
    border-radius: 5px;
    background: url('../img/Apple.png') no-repeat;
}

.footnote {
    margin-top: 37px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #f7f8f9;
    color: #c9caca;
    text-align: left;
    vertical-align: middle;
}
