body {
    width: 1920px;
    background-color: #f8f9f6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: #ffffff;
    width: 1920px;
    height: 120px;
    box-shadow: 0 0 21px rgba(150, 150, 150, 0.35);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.logo {
    margin-top: 11px;
}

.user {
    margin-top: 22px;
    margin-right: 15px;
}

.user b {
    width: 147px;
    height: 14px;
    color: #404040;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 2px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.btn {
    display: inline-block;
    border-radius: 6px;
    background-color: #ff7800;
    padding: 8px 13px;
    margin-left: 11px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;    
}
.user .login {
    position: relative;
    color: #404040; 
    background-color: #f3f3f3;
    padding-left: 35px;
}

.user .login::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 14px;
    height: 12px;
    background: transparent url('../img/login.png') no-repeat;
}
.user .download {
    position: relative;
    padding-left: 45px;
}

.user .download::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 16px;
    height: 14px;
    background: transparent url('../img/download.png') no-repeat;
}